In [1]:
import pandas as pd
import numpy as np

# 1) Internet users data:

In [2]:
# Code_1
df = pd.read_csv("InternetUsersDataset.csv")
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,NaN,NaN,...,30.900000,52.00,58.00,62.0,69.0,74.000000,78.9,83.78,88.661227,NaN
1,Andorra,AND,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,NaN,NaN,...,70.870000,70.04,78.53,81.0,81.0,86.434425,94.0,95.90,96.910000,NaN
2,Afghanistan,AFG,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,NaN,NaN,...,1.900000,1.84,3.55,4.0,5.0,5.454545,5.9,7.00,8.260000,NaN
3,Angola,AGO,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,NaN,NaN,...,1.700000,1.90,2.30,2.8,3.1,6.500000,8.9,10.20,12.400000,NaN
4,Albania,ALB,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,NaN,NaN,...,15.036115,23.86,41.20,45.0,49.0,54.655959,57.2,60.10,63.252933,NaN

In [3]:
# Code_2
df_melt = df.melt(id_vars = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
             var_name='Year',
             value_name = 'Internet users (per 100 people)')

df_drop = df_melt.dropna()
df_drop

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Internet users (per 100 people)
14,Burundi,BDI,Internet users (per 100 people),IT.NET.USER.P2,1960,0.000000
31,Botswana,BWA,Internet users (per 100 people),IT.NET.USER.P2,1960,0.000000
87,Grenada,GRD,Internet users (per 100 people),IT.NET.USER.P2,1960,0.000000
150,Maldives,MDV,Internet users (per 100 people),IT.NET.USER.P2,1960,0.000000
224,Syrian Arab Republic,SYR,Internet users (per 100 people),IT.NET.USER.P2,1960,0.000000
229,Togo,TGO,Internet users (per 100 people),IT.NET.USER.P2,1960,0.000000
230,Thailand,THA,Internet users (per 100 people),IT.NET.USER.P2,1960,0.000000
1334,Burundi,BDI,Internet users (per 100 people),IT.NET.USER.P2,1965,0.000000
1351,Botswana,BWA,Internet users (per 100 people),IT.NET.USER.P2,1965,0.000000
1407,Grenada,GRD,Internet users (per 100 people),IT.NET.USER.P2,1965,0.000000
1470,Maldives,MDV,Internet users (per 100 people),IT.NET.USER.P2,1965,0.000000
1544,Syrian Arab Republic,SYR,Internet users (per 100 people),IT.NET.USER.P2,1965,0.000000
1549,Togo,TGO,Internet users (per 100 people),IT.NET.USER.P2,1965,0.000000
1550,Thailand,THA,Internet users (per 100 people),IT.NET.USER.P2,1965,0.000000
2654,Burundi,BDI,Internet users (per 100 people),IT.NET.USER.P2,1970,0.000000
2671,Botswana,BWA,Internet users (per 100 people),IT.NET.USER.P2,1970,0.000000
2727,Grenada,GRD,Internet users (per 100 people),IT.NET.USER.P2,1970,0.000000
2790,Maldives,MDV,Internet users (per 100 people),IT.NET.USER.P2,1970,0.000000
2864,Syrian Arab Republic,SYR,Internet users (per 100 people),IT.NET.USER.P2,1970,0.000000
2869,Togo,TGO,Internet users (per 100 people),IT.NET.USER.P2,1970,0.000000
2870,Thailand,THA,Internet users (per 100 people),IT.NET.USER.P2,1970,0.000000
3974,Burundi,BDI,Internet users (per 100 people),IT.NET.USER.P2,1975,0.000000
3991,Botswana,BWA,Internet users (per 100 people),IT.NET.USER.P2,1975,0.000000
4047,Grenada,GRD,Internet users (per 100 people),IT.NET.USER.P2,1975,0.000000
4110,Maldives,MDV,Internet users (per 100 people),IT.NET.USER.P2,1975,0.000000
4184,Syrian Arab Republic,SYR,Internet users (per 100 people),IT.NET.USER.P2,1975,0.000000
4189,Togo,TGO,Internet users (per 100 people),IT.NET.USER.P2,1975,0.000000
4190,Thailand,THA,Internet users (per 100 people),IT.NET.USER.P2,1975,0.000000
4238,Burundi,BDI,Internet users (per 100 people),IT.NET.USER.P2,1976,0.000000
4255,Botswana,BWA,Internet users (per 100 people),IT.NET.USER.P2,1976,0.000000
...,...,...,...,...,...,...
14753,Latin America & the Caribbean (IDA & IBRD coun...,TLA,Internet users (per 100 people),IT.NET.USER.P2,2015,54.703718
14754,Middle East & North Africa (IDA & IBRD countries),TMN,Internet users (per 100 people),IT.NET.USER.P2,2015,37.958982
14755,Timor-Leste,TLS,Internet users (per 100 people),IT.NET.USER.P2,2015,13.400000
14756,Tonga,TON,Internet users (per 100 people),IT.NET.USER.P2,2015,44.999519
14757,South Asia (IDA & IBRD),TSA,Internet users (per 100 people),IT.NET.USER.P2,2015,23.627941
14758,Sub-Saharan Africa (IDA & IBRD countries),TSS,Internet users (per 100 people),IT.NET.USER.P2,2015,22.388060
14759,Trinidad and Tobago,TTO,Internet users (per 100 people),IT.NET.USER.P2,2015,69.198471
14760,Tunisia,TUN,Internet users (per 100 people),IT.NET.USER.P2,2015,48.519836
14761,Turkey,TUR,Internet users (per 100 people),IT.NET.USER.P2,2015,53.744979
14762,Tuvalu,TUV,Internet users (per 100 people),IT.NET.USER.P2,2015,42.700000
14763,Tanzania,TZA,Internet users (per 100 people),IT.NET.USER.P2,2015,5.355144
14764,Uganda,UGA,Internet users (per 100 people),IT.NET.USER.P2,2015,19.221100
14765,Ukraine,UKR,Internet users (per 100 people),IT.NET.USER.P2,2015,49.260000
14766,Upper middle income,UMC,Internet users (per 100 people),IT.NET.USER.P2,2015,52.137869
14767,Uruguay,URY,Internet users (per 100 people),IT.NET.USER.P2,2015,64.600000
14768,United States,USA,Internet users (per 100 people),IT.NET.USER.P2,2015,74.550000
14769,Uzbekistan,UZB,Internet users (per 100 people),IT.NET.USER.P2,2015,42.800000
14770,St. Vincent and the Grenadines,VCT,Internet users (per 100 people),IT.NET.USER.P2,2015,51.770000
14771,"Venezuela, RB",VEN,Internet users (per 100 people),IT.NET.USER.P2,2015,61.869248
14773,Virgin Islands (U.S.),VIR,Internet users (per 100 people),IT.NET.USER.P2,2015,54.839137
14774,Vietnam,VNM,Internet users (per 100 people),IT.NET.USER.P2,2015,52.720000
14775,Vanuatu,VUT,Internet users (per 100 people),IT.NET.USER.P2,2015,22.351405
14776,West Bank and Gaza,PSE,Internet users (per 100 people),IT.NET.USER.P2,2015,57.424192
14777,World,WLD,Internet users (per 100 people),IT.NET.USER.P2,2015,43.998315
14778,Samoa,WSM,Internet users (per 100 people),IT.NET.USER.P2,2015,25.407010
14779,"Yemen, Rep.",YEM,Internet users (per 100 people),IT.NET.USER.P2,2015,25.099514
14780,South Africa,ZAF,Internet users (per 100 people),IT.NET.USER.P2,2015,51.919116
14781,"Congo, Dem. Rep.",COD,Internet users (per 100 people),IT.NET.USER.P2,2015,3.800000
14782,Zambia,ZMB,Internet users (per 100 people),IT.NET.USER.P2,2015,21.000000
14783,Zimbabwe,ZWE,Internet users (per 100 people),IT.NET.USER.P2,2015,16.360000

In [4]:
df_drop.head(1)

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Internet users (per 100 people)
14,Burundi,BDI,Internet users (per 100 people),IT.NET.USER.P2,1960,0.0

In [5]:
# Code_3
df_21 = df_drop[['Country Name', 'Country Code', 'Year', 'Internet users (per 100 people)']]

In [6]:
df_21.head()

             Country Name Country Code  Year  Internet users (per 100 people)
14                Burundi          BDI  1960                              0.0
31               Botswana          BWA  1960                              0.0
87                Grenada          GRD  1960                              0.0
150              Maldives          MDV  1960                              0.0
224  Syrian Arab Republic          SYR  1960                              0.0

In [7]:
# Code_4
df_21st = df_21[df_21['Year']>='2000']

In [8]:
df_21st.head()

      Country Name Country Code  Year  Internet users (per 100 people)
10560        Aruba          ABW  2000                        15.442823
10561      Andorra          AND  2000                        10.538836
10563       Angola          AGO  2000                         0.105046
10564      Albania          ALB  2000                         0.114097
10565   Arab World          ARB  2000                         1.139541

# Yearly Internet users (per 100 people)

In [9]:
# Code_5
df_2000 = df_21st[df_21st['Year']=='2000']
df_2001 = df_21st[df_21st['Year']=='2001']
df_2002 = df_21st[df_21st['Year']=='2002']
df_2003 = df_21st[df_21st['Year']=='2003']
df_2004 = df_21st[df_21st['Year']=='2004']
df_2005 = df_21st[df_21st['Year']=='2005']
df_2006 = df_21st[df_21st['Year']=='2006']
df_2007 = df_21st[df_21st['Year']=='2007']
df_2008 = df_21st[df_21st['Year']=='2008']
df_2009 = df_21st[df_21st['Year']=='2009']
df_2010 = df_21st[df_21st['Year']=='2010']
df_2011 = df_21st[df_21st['Year']=='2011']
df_2012 = df_21st[df_21st['Year']=='2012']
df_2013 = df_21st[df_21st['Year']=='2013']
df_2014 = df_21st[df_21st['Year']=='2014']
df_2015 = df_21st[df_21st['Year']=='2015']
df_2016 = df_21st[df_21st['Year']=='2016']

In [10]:
# Code_6
df_pivot = pd.pivot_table(df_21st, values='Internet users (per 100 people)',
                          index = ['Country Name', 'Country Code'])

df_pivot = df_pivot.reset_index()


df_pivot

               Country Name Country Code  Internet users (per 100 people)
0               Afghanistan          AFG                         3.095920
1                   Albania          ALB                        26.823822
2                   Algeria          DZA                        10.941778
3                   Andorra          AND                        60.227381
4                    Angola          AGO                         3.361894
5       Antigua and Barbuda          ATG                        36.873544
6                Arab World          ARB                        17.460151
7                 Argentina          ARG                        33.009997
8                   Armenia          ARM                        18.878397
9                     Aruba          ABW                        46.611503
10                Australia          AUS                        71.562854
11                  Austria          AUT                        63.951917
12               Azerbaijan          AZE                        32.835400
13             Bahamas, The          BHS                        39.368013
14                  Bahrain          BHR                        47.727865
15               Bangladesh          BGD                         3.592207
16                 Barbados          BRB                        53.200380
17                  Belarus          BLR                        30.401634
18                  Belgium          BEL                        63.525823
19                   Belize          BLZ                        24.595578
20                    Benin          BEN                         2.598774
21                  Bermuda          BMU                        74.345017
22                   Bhutan          BTN                        10.790044
23                  Bolivia          BOL                        16.892902
24   Bosnia and Herzegovina          BIH                        31.130647
25                 Botswana          BWA                         8.006378
26                   Brazil          BRA                        31.345717
27   British Virgin Islands          VGB                        33.377148
28        Brunei Darussalam          BRN                        42.414397
29                 Bulgaria          BGR                        33.057563
..                      ...          ...                              ...
224             Switzerland          CHE                        74.750189
225    Syrian Arab Republic          SYR                        13.649917
226              Tajikistan          TJK                         7.623506
227                Tanzania          TZA                         2.189416
228                Thailand          THA                        18.934107
229             Timor-Leste          TLS                         3.067979
230                    Togo          TGO                         2.763750
231                   Tonga          TON                        15.322321
232     Trinidad and Tobago          TTO                        39.362242
233                 Tunisia          TUN                        24.030262
234                  Turkey          TUR                        28.711991
235            Turkmenistan          TKM                         3.825352
236                  Tuvalu          TUV                        25.914164
237                  Uganda          UGA                         7.558022
238                 Ukraine          UKR                        17.368793
239    United Arab Emirates          ARE                        57.404137
240          United Kingdom          GBR                        72.149203
241           United States          USA                        66.835592
242     Upper middle income          UMC                        24.081409
243                 Uruguay          URY                        35.417301
244              Uzbekistan          UZB                        13.004545
245                 Vanuatu          VUT                         8.115643
246           Venezuela, RB          VEN                        27.275470
247                 Vietnam          VNM                        22.884845
248   Virgin Islands (U.S.)          VIR                        31.802684
249      West Bank and Gaza          PSE                        25.395810
250                   World          WLD                        23.295848
251             Yemen, Rep.          YEM                         8.667843
252                  Zambia          ZMB                         7.375366
253                Zimbabwe          ZWE                         6.028830

[254 rows x 3 columns]

In [11]:
# Code_7
df_pivot = df_pivot.rename(columns={'Internet users (per 100 people)':'Avergae Internet users (per 100 people)'})
df_pivot.head()

  Country Name Country Code  Avergae Internet users (per 100 people)
0  Afghanistan          AFG                                 3.095920
1      Albania          ALB                                26.823822
2      Algeria          DZA                                10.941778
3      Andorra          AND                                60.227381
4       Angola          AGO                                 3.361894

# 2) GDP data:

In [12]:
# Code_8
from pandas.io.html import read_html
page = "https://en.wikipedia.org/wiki/List_of_countries_by_real_GDP_growth_rate"

wikitables = read_html(page,  attrs={"class":"wikitable"})

print ("Extracted {num} wikitables".format(num=len(wikitables)))

Extracted 2 wikitables

There are two Wikitables on Wikipedia page,ut we need the second one.

In [13]:
# Code_9: To scrape the second Wikitable
Gdp = wikitables[1]
Gdp.head()

,Country,Real GDP growthrate (%) 2013,Real GDP growthrate (%) 2014,Real GDP growthrate (%) 2015,Real GDP growthrate (%) 2016,Real GDP growthrate (%) 2017,Real GDP growthrate (%) 2018[3],Average GDP growthrate (%) 2013â€“2018
0,Afghanistan,3.90,2.69,1.31,2.37,2.60,2.3,2.53
1,Albania,1.00,1.77,2.22,3.35,3.84,3.9,2.67
2,Algeria,2.77,3.79,3.76,3.30,1.70,2.5,2.97
3,Angola,6.81,4.80,3.00,-0.81,0.72,-0.1,2.37
4,Antigua and Barbuda,-0.10,5.10,4.06,5.34,3.34,3.5,3.52

In [14]:
# Code_10
gdp = Gdp.rename(columns={'Country':'Country Name',
           'Real GDP growthrate (%) 2013':'2013',
           'Real GDP growthrate (%) 2014':'2014',
           'Real GDP growthrate (%) 2015':'2015',
           'Real GDP growthrate (%) 2016':'2016',
           'Real GDP growthrate (%) 2017':'2017',
           'Real GDP growthrate (%) 2018[3]':'2018'})

In [15]:
gdp.head()

,Country Name,2013,2014,2015,2016,2017,2018,Average GDP growthrate (%) 2013â€“2018
0,Afghanistan,3.90,2.69,1.31,2.37,2.60,2.3,2.53
1,Albania,1.00,1.77,2.22,3.35,3.84,3.9,2.67
2,Algeria,2.77,3.79,3.76,3.30,1.70,2.5,2.97
3,Angola,6.81,4.80,3.00,-0.81,0.72,-0.1,2.37
4,Antigua and Barbuda,-0.10,5.10,4.06,5.34,3.34,3.5,3.52

In [16]:
gdp.isna().sum()

Country Name                            0
2013                                    5
2014                                    5
2015                                    5
2016                                    5
2017                                    5
2018                                    2
Average GDP growthrate (%) 2013â€“2018    7
dtype: int64

In [17]:
# Code_11
Gdp_average = gdp[['Country Name', 'Average GDP growthrate (%) 2013â€“2018']]
Gdp_average

               Country Name  Average GDP growthrate (%) 2013â€“2018
0               Afghanistan                                  2.53
1                   Albania                                  2.67
2                   Algeria                                  2.97
3                    Angola                                  2.37
4       Antigua and Barbuda                                  3.52
5                 Argentina                                  0.15
6                   Armenia                                  3.92
7                 Australia                                  2.59
8                   Austria                                  1.53
9                Azerbaijan                                  1.17
10                  Bahamas                                  0.41
11                  Bahrain                                  3.82
12               Bangladesh                                  6.72
13                 Barbados                                  0.67
14                  Belarus                                  0.41
15                  Belgium                                  1.26
16                   Belize                                  1.78
17                    Benin                                  5.19
18                   Bhutan                                   NaN
19                  Bolivia                                  4.98
20   Bosnia and Herzegovina                                  2.66
21                 Botswana                                  4.11
22                   Brazil                                 -0.22
23                   Brunei                                 -0.67
24                 Bulgaria                                  2.81
25             Burkina Faso                                  5.41
26                  Burundi                                  0.85
27                 Cambodia                                  7.03
28                 Cameroon                                  4.71
29                   Canada                                  2.13
..                      ...                                   ...
163                   Spain                                  1.99
164               Sri Lanka                                  4.11
165                   Sudan                                  3.08
166                Suriname                                 -0.45
167                  Sweden                                  2.71
168             Switzerland                                  1.83
169                  Taiwan                                   NaN
170              Tajikistan                                  6.51
171                Tanzania                                  6.84
172                Thailand                                  3.06
173                    Togo                                  5.15
174                   Tonga                                  1.89
175     Trinidad and Tobago                                 -0.88
176                 Tunisia                                  2.03
177                  Turkey                                  5.61
178            Turkmenistan                                  7.62
179                  Tuvalu                                  4.23
180                  Uganda                                  4.73
181                 Ukraine                                 -1.47
182    United Arab Emirates                                  3.52
183          United Kingdom                                  2.08
184           United States                                  2.28
185                 Uruguay                                  2.42
186              Uzbekistan                                  6.97
187                 Vanuatu                                  2.62
188               Venezuela                                -10.01
189                 Vietnam                                  6.28
190                   Yemen                                -11.76
191                  Zambia                                  4.05
192                Zimbabwe                                  2.82

[193 rows x 2 columns]

In [18]:
# Code_12
gdp_melt = gdp.melt(id_vars = ['Country Name', 'Average GDP growthrate (%) 2013â€“2018'],
                    var_name='Year',
                    value_name='Real GDP growthrate (%)'
                   )
gdp_melt.head()

,Country Name,Average GDP growthrate (%) 2013â€“2018,Year,Real GDP growthrate (%)
0,Afghanistan,2.53,2013,3.90
1,Albania,2.67,2013,1.00
2,Algeria,2.97,2013,2.77
3,Angola,2.37,2013,6.81
4,Antigua and Barbuda,3.52,2013,-0.10

# 3) Merge

# A

In [19]:
# Code_13
merge = pd.merge(df_21, gdp_melt, on =['Country Name', 'Year'])

In [20]:
merge

,Country Name,Country Code,Year,Internet users (per 100 people),Average GDP growthrate (%) 2013â€“2018,Real GDP growthrate (%)
0,Afghanistan,AFG,2013,5.900000,2.53,3.90
1,Angola,AGO,2013,8.900000,2.37,6.81
2,Albania,ALB,2013,57.200000,2.67,1.00
3,United Arab Emirates,ARE,2013,88.000000,3.52,5.05
4,Argentina,ARG,2013,59.900000,0.15,2.41
5,Armenia,ARM,2013,41.900000,3.92,3.30
6,Antigua and Barbuda,ATG,2013,63.400000,3.52,-0.10
7,Australia,AUS,2013,83.453497,2.59,2.64
8,Austria,AUT,2013,80.618800,1.53,0.03
9,Azerbaijan,AZE,2013,73.000001,1.17,5.80
10,Burundi,BDI,2013,1.264218,0.85,4.59
11,Belgium,BEL,2013,82.170200,1.26,0.20
12,Benin,BEN,2013,4.900000,5.19,7.19
13,Burkina Faso,BFA,2013,9.100000,5.41,5.79
14,Bangladesh,BGD,2013,6.630000,6.72,6.01
15,Bulgaria,BGR,2013,53.061500,2.81,0.86
16,Bahrain,BHR,2013,90.000040,3.82,5.42
17,Bosnia and Herzegovina,BIH,2013,57.790000,2.66,2.35
18,Belarus,BLR,2013,54.170000,0.41,1.02
19,Belize,BLZ,2013,33.600000,1.78,0.71
20,Bolivia,BOL,2013,36.990000,4.98,6.80
21,Brazil,BRA,2013,51.040000,-0.22,3.01
22,Barbados,BRB,2013,71.800000,0.67,-0.07
23,Bhutan,BTN,2013,22.400000,NaN,2.14
24,Botswana,BWA,2013,15.000000,4.11,11.34
25,Central African Republic,CAF,2013,3.500000,-4.42,-36.70
26,Canada,CAN,2013,85.800000,2.13,2.48
27,Switzerland,CHE,2013,86.340000,1.83,1.85
28,Chile,CHL,2013,58.000000,2.46,4.05
29,China,CHN,2013,45.800000,7.01,7.76
...,...,...,...,...,...,...
452,El Salvador,SLV,2015,26.915075,2.36,2.38
453,Somalia,SOM,2015,1.760000,NaN,NaN
454,Serbia,SRB,2015,65.317025,1.66,0.76
455,South Sudan,SSD,2015,17.929787,NaN,NaN
456,Suriname,SUR,2015,42.763828,-0.45,-2.60
457,Slovenia,SVN,2015,73.098700,2.76,2.26
458,Sweden,SWE,2015,90.610200,2.71,4.52
459,Seychelles,SYC,2015,58.118698,4.17,3.50
460,Chad,TCD,2015,2.700000,1.50,2.77
461,Togo,TGO,2015,7.120000,5.15,5.39
462,Thailand,THA,2015,39.316127,3.06,3.02
463,Tajikistan,TJK,2015,18.980000,6.51,6.00
464,Turkmenistan,TKM,2015,14.996775,7.62,6.50
465,Tonga,TON,2015,44.999519,1.89,3.71
466,Trinidad and Tobago,TTO,2015,69.198471,-0.88,1.52
467,Tunisia,TUN,2015,48.519836,2.03,1.15
468,Turkey,TUR,2015,53.744979,5.61,6.09
469,Tuvalu,TUV,2015,42.700000,4.23,9.14
470,Tanzania,TZA,2015,5.355144,6.84,6.96
471,Uganda,UGA,2015,19.221100,4.73,5.19
472,Ukraine,UKR,2015,49.260000,-1.47,-9.77
473,Uruguay,URY,2015,64.600000,2.42,0.37
474,United States,USA,2015,74.550000,2.28,2.86
475,Uzbekistan,UZB,2015,42.800000,6.97,8.00
476,Vietnam,VNM,2015,52.720000,6.28,6.68
477,Vanuatu,VUT,2015,22.351405,2.62,-0.80
478,Samoa,WSM,2015,25.407010,NaN,1.64
479,South Africa,ZAF,2015,51.919116,1.37,1.28
480,Zambia,ZMB,2015,21.000000,4.05,2.92
481,Zimbabwe,ZWE,2015,16.360000,2.82,1.69

# B

In [21]:
# Code_14
merge_average = pd.merge(df_pivot, Gdp_average, on='Country Name')
merge_average

,Country Name,Country Code,Avergae Internet users (per 100 people),Average GDP growthrate (%) 2013â€“2018
0,Afghanistan,AFG,3.095920,2.53
1,Albania,ALB,26.823822,2.67
2,Algeria,DZA,10.941778,2.97
3,Angola,AGO,3.361894,2.37
4,Antigua and Barbuda,ATG,36.873544,3.52
5,Argentina,ARG,33.009997,0.15
6,Armenia,ARM,18.878397,3.92
7,Australia,AUS,71.562854,2.59
8,Austria,AUT,63.951917,1.53
9,Azerbaijan,AZE,32.835400,1.17
10,Bahrain,BHR,47.727865,3.82
11,Bangladesh,BGD,3.592207,6.72
12,Barbados,BRB,53.200380,0.67
13,Belarus,BLR,30.401634,0.41
14,Belgium,BEL,63.525823,1.26
15,Belize,BLZ,24.595578,1.78
16,Benin,BEN,2.598774,5.19
17,Bhutan,BTN,10.790044,NaN
18,Bolivia,BOL,16.892902,4.98
19,Bosnia and Herzegovina,BIH,31.130647,2.66
20,Botswana,BWA,8.006378,4.11
21,Brazil,BRA,31.345717,-0.22
22,Bulgaria,BGR,33.057563,2.81
23,Burkina Faso,BFA,2.757803,5.41
24,Burundi,BDI,0.956374,0.85
25,Cambodia,KHM,3.270478,7.03
26,Cameroon,CMR,4.446440,4.71
27,Canada,CAN,74.074954,2.13
28,Central African Republic,CAF,1.480242,-4.42
29,Chad,TCD,1.165404,1.50
...,...,...,...,...
134,Somalia,SOM,0.984272,NaN
135,South Africa,ZAF,20.113655,1.37
136,South Sudan,SSD,13.732447,NaN
137,Spain,ESP,52.574268,1.99
138,Sri Lanka,LKA,9.447509,4.11
139,Sudan,SDN,10.846342,3.08
140,Suriname,SUR,20.092256,-0.45
141,Sweden,SWE,82.531693,2.71
142,Switzerland,CHE,74.750189,1.83
143,Tajikistan,TJK,7.623506,6.51
144,Tanzania,TZA,2.189416,6.84
145,Thailand,THA,18.934107,3.06
146,Togo,TGO,2.763750,5.15
147,Tonga,TON,15.322321,1.89
148,Trinidad and Tobago,TTO,39.362242,-0.88
149,Tunisia,TUN,24.030262,2.03
150,Turkey,TUR,28.711991,5.61
151,Turkmenistan,TKM,3.825352,7.62
152,Tuvalu,TUV,25.914164,4.23
153,Uganda,UGA,7.558022,4.73
154,Ukraine,UKR,17.368793,-1.47
155,United Arab Emirates,ARE,57.404137,3.52
156,United Kingdom,GBR,72.149203,2.08
157,United States,USA,66.835592,2.28
158,Uruguay,URY,35.417301,2.42
159,Uzbekistan,UZB,13.004545,6.97
160,Vanuatu,VUT,8.115643,2.62
161,Vietnam,VNM,22.884845,6.28
162,Zambia,ZMB,7.375366,4.05
163,Zimbabwe,ZWE,6.028830,2.82

# Visualising

In [22]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

Let us create a time series Visualisation

# Remember the code from : Code_5
df_2000 = df_21st[df_21st['Year']=='2000']

df_2001 = df_21st[df_21st['Year']=='2001']

In [23]:
df_2000.head()

      Country Name Country Code  Year  Internet users (per 100 people)
10560        Aruba          ABW  2000                        15.442823
10561      Andorra          AND  2000                        10.538836
10563       Angola          AGO  2000                         0.105046
10564      Albania          ALB  2000                         0.114097
10565   Arab World          ARB  2000                         1.139541

# Visulaisation_1

Using 'Yearly Internet users (per 100 people)'  and code_5, we will visualise data on the basis of Internet users every year,
of each country on Times series manner.

In [24]:
# Code_15

trace_A = go.Scatter(
    x = df_2000['Country Name'],
    y = df_2000['Internet users (per 100 people)'],
    name = "2000")

trace_B= go.Scatter(
    x = df_2001['Country Name'],
    y = df_2001['Internet users (per 100 people)'],
    name = "2001")

trace_C = go.Scatter(
    x = df_2002['Country Name'],
    y = df_2002['Internet users (per 100 people)'],
    name = "2002")

trace_D = go.Scatter(
    x = df_2003['Country Name'],
    y = df_2003['Internet users (per 100 people)'],
    name = "2003")

trace_E = go.Scatter(
    x = df_2004['Country Name'],
    y = df_2004['Internet users (per 100 people)'],
    name = "2004")

trace_F = go.Scatter(
    x = df_2005['Country Name'],
    y = df_2005['Internet users (per 100 people)'],
    name = "2005")

trace_G = go.Scatter(
    x = df_2006['Country Name'],
    y = df_2006['Internet users (per 100 people)'],
    name = "2006")

trace_H = go.Scatter(
    x = df_2007['Country Name'],
    y = df_2007['Internet users (per 100 people)'],
    name = "2007")

trace_I = go.Scatter(
    x = df_2008['Country Name'],
    y = df_2008['Internet users (per 100 people)'],
    name = "2008")

trace_J = go.Scatter(
    x = df_2009['Country Name'],
    y = df_2009['Internet users (per 100 people)'],
    name = "2010")

trace_K = go.Scatter(
    x = df_2010['Country Name'],
    y = df_2010['Internet users (per 100 people)'],
    name = "2011")

trace_L = go.Scatter(
    x = df_2011['Country Name'],
    y = df_2011['Internet users (per 100 people)'],
    name = "2012")

trace_M = go.Scatter(
    x = df_2012['Country Name'],
    y = df_2012['Internet users (per 100 people)'],
    name = "2013")

trace_N = go.Scatter(
    x = df_2013['Country Name'],
    y = df_2013['Internet users (per 100 people)'],
    name = "2014")

trace_O = go.Scatter(
    x = df_2014['Country Name'],
    y = df_2014['Internet users (per 100 people)'],
    name = "2014")

trace_P = go.Scatter(
    x = df_2015['Country Name'],
    y = df_2015['Internet users (per 100 people)'],
    name = "2015")



data = [trace_A, trace_B, trace_C, trace_D, trace_E, trace_F, trace_G, trace_H, trace_I, trace_J, trace_K, trace_L,
       trace_M, trace_N, trace_O, trace_P]

layout = go.Layout(
    title='Year Wise Internet users (per 100 people) of Countries',
    xaxis=dict(
        title='Country Name',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
            )
        ),
    yaxis=dict(
        title='Internet users (per 100 people)',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
            )
        )
    )

#legends = df_2000['Country Name']

fig = dict(data=data, layout=layout)
py.iplot(fig, filename= 'Year wise Internet users (per 100 people).html')

C:\Users\Rakshit\Anaconda3\lib\site-packages\IPython\core\display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

# Visulaisation_2

In this visulisation we will use "merge_average" dataframe to visualise

In [25]:
merge.head()

,Country Name,Country Code,Year,Internet users (per 100 people),Average GDP growthrate (%) 2013â€“2018,Real GDP growthrate (%)
0,Afghanistan,AFG,2013,5.9,2.53,3.90
1,Angola,AGO,2013,8.9,2.37,6.81
2,Albania,ALB,2013,57.2,2.67,1.00
3,United Arab Emirates,ARE,2013,88.0,3.52,5.05
4,Argentina,ARG,2013,59.9,0.15,2.41

In [26]:
tr_in = go.Scatter(
    x= merge['Country Name'],
    y= merge['Internet users (per 100 people)'],
    name = 'Internet users (per 100 people) since 2000')

tr_gdp = go.Scatter(
    x = merge['Country Name'],
    y = merge['Real GDP growthrate (%)'],
    name= 'GDP growthrate (%) 2013â€“2018')

data = [tr_in, tr_gdp]

layout = go.Layout(
    title='GDP growth rate vs Internet users',
    xaxis=dict(
        title='Country Name',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
            )
        ),
    yaxis=dict(
        title='Internet users & GDP growth rate',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
            )
        )
    )


fig = go.Figure(data=data, layout = layout)

py.iplot(fig, filename='GDP growth rate vs Internet users')

# Visulaisation_3

In this visulaisasion we will select top and botton 10 counties from "merge_average" dataframe on the basis of "Avergae Internet users (per 100 people)" and "Average GDP growthrate (%) 2013â€“2018"

In [27]:
merge_average.head()

,Country Name,Country Code,Avergae Internet users (per 100 people),Average GDP growthrate (%) 2013â€“2018
0,Afghanistan,AFG,3.095920,2.53
1,Albania,ALB,26.823822,2.67
2,Algeria,DZA,10.941778,2.97
3,Angola,AGO,3.361894,2.37
4,Antigua and Barbuda,ATG,36.873544,3.52

# Countries with highest "Average GDP growthrate (%) 2013â€“2018":

In [28]:
gdp_larg = merge_average.nlargest(10, ['Avergae Internet users (per 100 people)'])
gdp_larg

,Country Name,Country Code,Avergae Internet users (per 100 people),Average GDP growthrate (%) 2013â€“2018
64,Iceland,ISL,85.527488,4.26
109,Norway,NOR,84.279604,1.68
141,Sweden,SWE,82.531693,2.71
38,Denmark,DNK,80.474386,1.72
104,Netherlands,NLD,79.394394,1.94
49,Finland,FIN,76.718720,1.01
142,Switzerland,CHE,74.750189,1.83
27,Canada,CAN,74.074954,2.13
84,Luxembourg,LUX,73.041946,3.60
156,United Kingdom,GBR,72.149203,2.08

In [29]:
bar_A = go.Bar(x =gdp_larg['Country Name'],
              y = gdp_larg['Avergae Internet users (per 100 people)'],
              name = 'Average Internet Users (per 100 people)')

bar_B = go.Bar(x =gdp_larg['Country Name'],
              y = gdp_larg['Average GDP growthrate (%) 2013â€“2018'],
              name = 'Average GDP growthrate (%) 2013â€“2018')

data = (bar_A, bar_B)

layout = go.Layout(
    title='Top 10 Countries with highest Average GDP vs Intenet Users (per 100 people)',
    xaxis=dict(
        title='Country Name',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
            )
        ),
    yaxis=dict(
        title='Value',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
            )
        )
    )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='Top 10 Countries with highest Average GDP vs Intenet Users (per 100 people)')

# Countries with lowest "Average GDP growthrate (%) 2013â€“2018":

In [30]:
gdp_small = merge_average.nsmallest(10, ['Avergae Internet users (per 100 people)'])
gdp_small

,Country Name,Country Code,Avergae Internet users (per 100 people),Average GDP growthrate (%) 2013â€“2018
45,Eritrea,ERI,0.585446,NaN
130,Sierra Leone,SLE,0.695050,2.31
107,Niger,NER,0.774241,5.37
24,Burundi,BDI,0.956374,0.85
134,Somalia,SOM,0.984272,NaN
58,Guinea,GIN,1.078918,6.68
29,Chad,TCD,1.165404,1.50
85,Madagascar,MDG,1.474155,3.65
28,Central African Republic,CAF,1.480242,-4.42
81,Liberia,LBR,1.795882,2.14

In [31]:
bar_C = go.Bar(x =gdp_small['Country Name'],
              y = gdp_small['Avergae Internet users (per 100 people)'],
              name = 'Average Internet Users (per 100 people)')

bar_D = go.Bar(x =gdp_small['Country Name'],
              y = gdp_small['Average GDP growthrate (%) 2013â€“2018'],
              name = 'Average GDP growthrate (%) 2013â€“2018')

data = (bar_C, bar_D)

layout = go.Layout(
    title='Countries with least Average GDP growth rate vs Intenet Users (per 100 people)',
    xaxis=dict(
        title='Country Name',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
            )
        ),
    yaxis=dict(
        title='Value',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
            )
        )
    )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='Countries with least Average GDP vs Intenet Users (per 100 people)')

# Countries with lowest "Avergae Internet users (per 100 people)":

In [32]:
internet_larg = merge_average.nlargest(10, ['Avergae Internet users (per 100 people)'])
internet_larg

,Country Name,Country Code,Avergae Internet users (per 100 people),Average GDP growthrate (%) 2013â€“2018
64,Iceland,ISL,85.527488,4.26
109,Norway,NOR,84.279604,1.68
141,Sweden,SWE,82.531693,2.71
38,Denmark,DNK,80.474386,1.72
104,Netherlands,NLD,79.394394,1.94
49,Finland,FIN,76.718720,1.01
142,Switzerland,CHE,74.750189,1.83
27,Canada,CAN,74.074954,2.13
84,Luxembourg,LUX,73.041946,3.60
156,United Kingdom,GBR,72.149203,2.08

In [33]:
bar_E = go.Bar(x =internet_larg['Country Name'],
              y = internet_larg['Avergae Internet users (per 100 people)'],
              name = 'Average Internet Users (per 100 people)')

bar_F = go.Bar(x =internet_larg['Country Name'],
              y = internet_larg['Average GDP growthrate (%) 2013â€“2018'],
              name = 'Average GDP growthrate (%) 2013â€“2018')

data = (bar_E, bar_F)

layout = go.Layout(
    title='Average GDP growth rate vs Countries with most Average  Intenet Users (per 100 people)',
    xaxis=dict(
        title='Country Name',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
            )
        ),
    yaxis=dict(
        title='Value',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
            )
        )
    )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='Average GDP growth rate vs Countries with most Average  Intenet Users (per 100 people)')

# Countries with lowest "Avergae Internet users (per 100 people)":

In [34]:
internet_small = merge_average.nsmallest(10, ['Avergae Internet users (per 100 people)'])
internet_small

,Country Name,Country Code,Avergae Internet users (per 100 people),Average GDP growthrate (%) 2013â€“2018
45,Eritrea,ERI,0.585446,NaN
130,Sierra Leone,SLE,0.695050,2.31
107,Niger,NER,0.774241,5.37
24,Burundi,BDI,0.956374,0.85
134,Somalia,SOM,0.984272,NaN
58,Guinea,GIN,1.078918,6.68
29,Chad,TCD,1.165404,1.50
85,Madagascar,MDG,1.474155,3.65
28,Central African Republic,CAF,1.480242,-4.42
81,Liberia,LBR,1.795882,2.14

In [35]:
bar_G = go.Bar(x =internet_small['Country Name'],
              y = internet_small['Avergae Internet users (per 100 people)'],
              name = 'Average Internet Users (per 100 people)')

bar_H = go.Bar(x =internet_small['Country Name'],
              y = internet_small['Average GDP growthrate (%) 2013â€“2018'],
              name = 'Average GDP growthrate (%) 2013â€“2018')

data = (bar_G, bar_H)

layout = go.Layout(
    title='Average GDP growth rate vs Countries with least Average Intenet Users (per 100 people)',
    xaxis=dict(
        title='Country Name',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
            )
        ),
    yaxis=dict(
        title='Value',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
            )
        )
    )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='Average GDP growth rate vs Countries with least Average Intenet Users (per 100 people)')